.profile {
    background-color: white;
    width: 300px;
    padding-top: 10px;
    border: 2px solid #89253e;
}
.description {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}
.stats {
    background-color: #89253e;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-block: 10px;
}
.stats li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 17px;
}
.quantity {
    font-weight: 700;
}
.tag {
    color: rgb(100, 96, 96);
}
.location {
    composes: tag;
}
.avatar {
    width: 80%;
    margin: auto;
}