.profile {
    background-color: white;
    width: 330px;
    padding-top: 10px;
    border: 2px solid #4434bc;
    border-radius: 15% 0 0 0;
}
.description {
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}
.stats {
    background-color: #4434bc;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-block: 10px;
    
}
.stats li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 17px;
}
.quantity {
    font-weight: 700;
}
.tag {
    color: rgb(84, 192, 211);
}

.avatar {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;

}