.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 10px;
    background-color: white;
    border: 2px solid #4434bc;
    border-radius: 15% 0;
    width: 230px;
    padding-block: 5px;
    padding-left: 30px;
    font-weight: 600;
}
.online {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: green;
}
.offline {
    composes: online;
    background-color: red;
}